body {
     

    background-size: 100%;
    background: url("../images/background.jpg");
   
}

.container {
    
    background-color:#68DFFE;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    margin-top: 30px;
}


.computerarea {

}

#win-lose-tracker {

}

.crystals {
display: flex;
justify-content: space-around;
border: 1px solid red;
align-items: center;
}

.crystal {
    border: 1px solid green;
    height: 200px;
    width: 200px; 
}